.instructors-list-container {
  background-color: rgba(60, 60, 60, 0.7);
  height: 100vh;
  .header-txt-lg {
    text-align: center;
    color: #FFFFFF;
  }
}

.instructor-detail-container {
  // max-height: 340px;
  padding: 10px;
  background: #FFFFFF;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  box-shadow: 0px 2px 2px -1px rgb(23, 23, 23);
  h1 {
    margin-top: 10px;
    margin-bottom: 0
  }
  h3 {
    margin-top: 0;
  }
  p {
    font-size: 16px;
    line-height: 26px;
  }
  img {
    // width: 100%;
    // max-height: 300px;
  }
  .instructor-bio-textarea {
    height: 191px;
  }
}

.add-instructor-detail-container {
  padding: 10px;
  background: #FFFFFF;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  box-shadow: 0px 2px 2px -1px rgb(23, 23, 23);
  .instructor-description-textarea {
    height: 191px;
  }
}

.add-instructor, .save-profile-edit-button, .edit-profile-button, .cancel-add {
  margin: 15px 10px 15px 0;
}
.courses-template-list-container {
  padding-top: 40px;
  padding-bottom: 15px;
}